.friend{
    border: 1px solid black;
    display:inline-block;
    width: 300px;
    margin: 30px;
    text-align: center;
    font-size: 16px;
    font-family: monospace;
}
.friend img{
    max-height: 200px;
    max-width: 100%;
}
