<!DOCTYPE html>
<html ng-app="socialNet">
<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="hello.css">
    <title>Prueba de uso angular</title>
</head>
<body>
    <p>Debajo de esta entrada quedará registrado lo que se ingrese.</p>
    <input type="text" ng-model="prueba" placeholder="Ingresa el texto a mostrar aqui">
    <p style="color:green;font-style:italic;">{{prueba}}</p>

    <div ng-controller="friendController as information">
        <div class="friend" ng-repeat="userInfo in information.userInfo | limitTo:10">
            <img ng-src="{{userInfo.images[1]}}">
            <p>{{userInfo.name}}</p>
            <p>{{userInfo.age}}</p>
            <p>{{userInfo.location}}</p>
            <p>{{userInfo.money |  currency}}</p>
            <button type="button" name="addFriend" ng-show="userInfo.add">Agregar amigo</button>
        </div>
    </div>
    <div class="okok">
        <span>Hecho</span>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="global.js"></script>
    <script type="text/javascript" src="try.js"></script>
</body>
</html>
